---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

import fetchApi from "../lib/strapi";
import type Article from "../interfaces/article";

const articles = await fetchApi<Article[]>({
	endpoint: "articles",
	wrappedByKey: "data",
});
---

<Layout>
	<ul>
		{articles.map((article) => <li>
			<h2>{article.title}</h2>
		</li>)}
	</ul>
</Layout>
